section {
    display: flex;
    justify-content: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 60%; /* Adjusted width for responsiveness */
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin: 16px 0;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
    padding: 0 16px 16px;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  .card a {
    text-decoration: none;
    color: inherit; /* Inherits parent color */
    display: block; /* Ensures entire card area is clickable */
  }
  

  
  